# {{{pkg.name}}}

[![npm package](https://img.shields.io/npm/v/{{{pkg.name}}}.svg)][npm]
[![License: {{{pkg.license}}}](https://img.shields.io/static/v1?label=license&message={{#encURL}} {{{pkg.license}}} {{/encURL}}&color=green)][github-license]
![Supported Node.js version: {{{pkg.engines.node}}}](https://img.shields.io/static/v1?label=node&message={{#encURL}} {{{pkg.engines.node}}} {{/encURL}}&color=brightgreen)
![Supported Metalsmith version: {{{pkg.peerDependencies.metalsmith}}}](https://img.shields.io/static/v1?label=metalsmith&message={{#encURL}} {{{pkg.peerDependencies.metalsmith}}} {{/encURL}}&color=blue)
![Supported PostCSS version: {{{pkg.peerDependencies.postcss}}}](https://img.shields.io/static/v1?label=postcss&message={{#encURL}} {{{pkg.peerDependencies.postcss}}} {{/encURL}}&color=blue)
![Type Definitions: TypeScript](https://img.shields.io/static/v1?label=types&message=TypeScript&color=blue)
[![bundle size](https://badgen.net/bundlephobia/min/{{{pkg.name}}}@{{{pkg.version}}})](https://bundlephobia.com/result?p={{{pkg.name}}}@{{{pkg.version}}})
[![Dependencies Status](https://david-dm.org/sounisi5011/{{{pkg.name}}}/status.svg)](https://david-dm.org/sounisi5011/{{{pkg.name}}})
[![Build Status](https://dev.azure.com/sounisi5011/{{{pkg.name}}}/_apis/build/status/sounisi5011.{{{pkg.name}}}?branchName=master)](https://dev.azure.com/sounisi5011/{{{pkg.name}}}/_build/latest?definitionId=1&branchName=master)
[![Maintainability Status](https://api.codeclimate.com/v1/badges/dd1dfc5d976b1bce125c/maintainability)](https://codeclimate.com/github/sounisi5011/{{{pkg.name}}}/maintainability)

[npm]: https://www.npmjs.com/package/{{{pkg.name}}}
[github-license]: https://github.com/sounisi5011/{{{pkg.name}}}/blob/v{{{pkg.version}}}/LICENSE

[Metalsmith] plugin for [PostCSS].

[Metalsmith]: https://github.com/segmentio/metalsmith
[PostCSS]: https://postcss.org

## Install

```sh
# This package does not include postcss. You need to install postcss.
npm install postcss

npm install {{{pkg.name}}}
```

## CLI Usage

The simplest use is with a PostCSS configuration file.

### Use PostCSS configuration file

Install via npm and then add the `{{{pkg.name}}}` key to your `metalsmith.json` plugin, like so:

[npm-postcss-load-config-used]: https://www.npmjs.com/package/postcss-load-config/v/{{{pkgLock.dependencies.postcss-load-config.version}}}

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": true
  }
}
```

Then create a PostCSS configuration file.　It is a file with a name like `postcss.config.js` or `.postcssrc.*`.

**`postcss.config.js`**
```js
module.exports = {
  map: { inline: false },
  plugins: {
    'postcss-import': {},
    'postcss-preset-env': {},
    'cssnano': {}
  }
};
```

You can read more about common PostCSS Config [here][npm-postcss-load-config-used].

Normally you will create a PostCSS configuration file in the same directory as the `metalsmith.json` file.

```
Project (Root)
├── metalsmith.json
├── postcss.config.js    # <- PostCSS configuration file
└── src
    ├── main.css
    └── dir
        └── sub.css
```

However, it is also possible to place the PostCSS configuration file in a subdirectory.

```
Project (Root)
├── metalsmith.json
├── postcss.config.js    # <- PostCSS configuration file
└── src
    ├── main.css
    └── dir
        ├── .postcssrc.yml    # <- PostCSS configuration file in subdirectory
        └── sub.css
```

PostCSS configuration files are searched by tracing the parent directories where the CSS file to be processed is located.
In the above example, `sub.css` is converted using the settings defined in the closest `.postcssrc.yml` file.

```
Project (Root)
├── metalsmith.json
├── postcss.config.js    # <- [1] PostCSS configuration file
└── src
    ├── main.css         # Use configuration is [1]
    └── dir
        ├── .postcssrc.yml    # <- [2] PostCSS configuration file in subdirectory
        └── sub.css           # Use configuration is [2]
```

### Use with AltCSS

When converting AltCSS such as [SASS], [SCSS], [LESS], [Stylus] or [SugarSS], it is necessary to overwrite the file extension setting.
For [SugarSS], the file extension is `.sss`. Therefore, set as follows:

[SASS]: https://sass-lang.com
[SCSS]: https://sass-lang.com
[LESS]: http://lesscss.org
[Stylus]: http://stylus-lang.com/
[SugarSS]: https://github.com/postcss/sugarss

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": {
      "pattern": "**/*.sss"
    }
  }
}
```

**`postcss.config.js`**
```js
module.exports = {
  parser: 'sugarss',
  plugins: {
    // ...
  }
};
```

By default, all processed file extensions are renamed to `.css`.
If you want to stop renaming, set the `renamer` option to `false` or `null`.

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": {
      "pattern": "**/*.sss",
      "renamer": false
    }
  }
}
```

### Use Metalsmith plugin options

If you need to specify an options in `metalsmith.json`, set the options to the value of the `{{{pkg.name}}}` key.

```json
{
  "plugins": {
    "{{{pkg.name}}}": {
      "plugins": {
        "postcss-import": {},
        "postcss-preset-env": {},
        "cssnano": {}
      },
      "options": {
        "map": { "inline": false }
      }
    }
  }
}
```

However, **this is not recommended**.

Plugin options are parsed differently than the PostCSS configuration file. It is not fully compatible.
A prominent example of this difference is that it currently does not support the `parser` option specified as a string.

Use the PostCSS configuration file whenever possible.

## Javascript Usage

The simplest use is to omit the option. The settings in the PostCSS configuration file are used.

```js
const postcss = require('{{{pkg.name}}}');

metalsmith
  .use(postcss());
```

If you need to specify an options, set the options value.

```js
const postcss = require('{{{pkg.name}}}');

metalsmith
  .use(postcss({
    pattern: '**/*.sss',
  }));
```

If you want to use the `files` variable or the default options value, you can specify the callback function that generates the options.

```js
const postcss = require('{{{pkg.name}}}');

metalsmith
  .use(postcss(
    (files, metalsmith, defaultOptions) => {
      return {
        pattern: [...defaultOptions.pattern, '!**/_*', '!**/_*/**'],
      };
    }
  ));
```

## TypeScript Usage

For compatibility with the [Metalsmith CLI], this package exports single function in CommonJS style.  
When using with TypeScript, it is better to use the [`import = require()` statement](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require).

```js
import postcss = require('{{{pkg.name}}}');

metalsmith
  .use(postcss());
```

## Debug mode

This plugin supports debugging output.  
To enable, use the following command when running your build script:

```sh
DEBUG={{{pkg.name}}},{{{pkg.name}}}:* node my-website-build.js
```

For more details, please check the description of [debug v{{{pkgLock.dependencies.debug.version}}}][npm-debug-used].

[npm-debug-used]: https://www.npmjs.com/package/debug/v/{{{pkgLock.dependencies.debug.version}}}

## Tests

To run the test suite, first install the dependencies, then run `npm test`:

```sh
npm install
npm test
```

## Contributing

see [CONTRIBUTING.md](https://github.com/sounisi5011/{{{pkg.name}}}/blob/master/CONTRIBUTING.md)
